$light-gray : hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@mixin text-content($color,$font-weight){
    color: $color;
    max-width: 230px;
    text-align: center;
    font-weight: $font-weight;
}

* {
    font-family: 'Outfit', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

body {
    background-color: $light-gray ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    .qr-code {
        border-radius: 16px;
        max-width: 260px;
        margin-bottom: 16px;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding-bottom: 26px;

        .title {
            @include text-content($dark-blue, 700);
            font-size: 20px;
            padding-bottom: 12px;
        }

        .description {
            @include text-content($grayish-blue, 400);
        }
    }
}